.text-center
{
margin-top: -39px;

 }
 .bi-container{
    margin-left: 1321px;
    padding-bottom: 5px;
    margin-top: -24px;
    
 }
 
 .navbar{
    margin-top: -25px;
    padding-left: 329px;
 }
.maintxt{
    margin-left:60px;
 }
 site-footer__hr {
   border-bottom: 1px solid #dcdcdc;
 }

 .site-footer p,
 .site-footer h4,
 .site-footer small
  {
   color: #3d4246;
 }

 .site-footer {
   background-color: #F5F5F5;
 }

 .site-footer a:hover {
   color: #61696f;
 }